*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Parkinsans, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
}

.container {
  margin: 0 auto;
  background-color: #fff;

  width: auto;
}

.header {
  margin: 2rem;
  width: 100%;
}
.header-container {
  display: flex;
  flex-direction: row;
  gap: 300px;
  z-index: 10;
}

.header-container .logo {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: inline-block;
}

.navbar-fluid {
  display: flex;
  flex-wrap: nowrap;
}

.overlay ul {
  width: 65%;
  height: 75%;
  display: none;
  border: 2px rgb(42, 44, 45) solid;
}

.navbar {
  display: flex;
  gap: 50px;
  padding-top: 10px;
}
.nav-list {
  font-size: 2rem;
}

button {
  background: transparent;
  outline: none;
  border: none;
  font-family: Sour Gummy, sans-serif;

  font-weight: 200px;
  color: rgb(204, 213, 221);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: inline;
  padding-top: 50px;
}

.menu-svg {
  position: absolute;
  cursor: pointer;
  align-items: center;
  width: 5rem;
}

.menu-toggle {
  display: none;
}

.overlay {
  position: relative;
  display: inline-block;
}
.close-icon {
  display: block;
  width: 5rem;
}
.navbar-close-menu .close {
  position: absolute;
  cursor: pointer;
  display: block;
  top: 20px;
  right: 20px;
}
.close {
  margin-bottom: 4rem;
  fill: #fff;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.navbar-close-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  background: rgb(14, 1, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  transition: opacity 0.2s ease-in, visibility 0.3s ease-in-out;
}

.menu-toggle:checked ~ .navbar-close-menu {
  visibility: visible;
  opacity: 1;
  display: block;
}
.menu-toggle {
  position: absolute;
  cursor: pointer;
}

.navbar-close-menu a {
  display: block;
  text-align: center;
  width: 100%;
  align-items: center;
  text-decoration: none;
  margin-top: 30px;
}
.navbar-list .nav-list {
  margin-top: 10px;
}
.navbar-close-menu a:hover {
  transition: cubic-bezier();
}
.navbar-close-menu .navbar-list a:active {
  background-color: rgb(84, 24, 143);
}

.navbar-list:hover {
  font-size: 20px;
}
.nav-list:hover {
  font-size: 1.2em;
}

.first-container {
  width: 100%;

  height: auto;
}

.first-div {
  text-align: center;
  font-size: 2rem;
}
div .first-h1 {
  text-align: left;
}
img {
  width: 100%;
  height: auto;
}

.card-line {
  width: 100%;

  margin: 2rem;
}
.card {
  display: block;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 310px;
  height: 70%;
  background-color: rgba(27, 25, 25, 0.7);
  transform: rotate(100%);
  color: aliceblue;
  transition: transform 250ms ease-in-out cubic-bezier(0.1, 0.9, 0.165, 1);
  opacity: 0;
}

.card-overlay .card-overlay-explain {
  text-align: center;
  margin: 50px;
  line-height: 1.5;
  color: aliceblue;
}
.card-overlay-text {
  text-decoration: none;
  color: azure;
}

.card:hover .card-overlay {
  transform: translateY(0);
  opacity: 1;
  transition: width 0.3s ease-in-out;
  text-align: center;
  vertical-align: middle;
}
.card-text {
  height: 56px;
  padding: 10px;
  font-size: 2rem;
  font-family: Parkinsans, sans-serif;
  font-weight: 200;
}
.all-cards {
  margin-top: 3rem;
}
.card:hover {
  cursor: pointer;
  transition: width 250ms, linear, cubic-bezier(0.075, 0.82, 0.165, 1);
}
.images:hover {
  transition: 5ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer {
  position: relative;
  background-color: #fff;
  gap: 10px;
  display: block;
  justify-content: center;
  text-align: start;
  padding-left: 20px;
}

.footer-logo {
  width: 100px;
}
.footer-text {
  margin-bottom: 10px;
  text-align: start;
}

.footer-parent-navbar {
  display: block;
  justify-content: left;
}
.footer-navbar {
  margin-top: 5px;
  color: black;
  list-style-type: none;
}
.footer-navbar a {
  text-decoration: none;
  color: rgb(31, 7, 7);
}
.footer-contact {
  color: black;
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}
.contacts {
  margin-bottom: 2rem;
}

.footer-contact a {
  color: black;
  text-decoration: none;
}
.footer-navbar a:hover {
  color: rgb(129, 122, 122);
  cursor: pointer;
}

.footer-contact a:hover {
  color: rgb(129, 122, 122);
  cursor: pointer;
}
.footer-socials {
  display: flex;
  flex-direction: row;

  gap: 2rem;
  list-style-type: none;
}
.footer-socials .social-media {
  width: 2rem;
}
.footer .contacts {
  list-style-type: none;
  margin-top: 1.2rem;
}

.footer-contact .contacts {
  text-decoration: none;
}

.first-container {
  text-align: start;
  margin: 30px;
}

.row {
  margin: 30px;
}

.images:hover {
  color: transparent;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.first-container-artists {
  display: block;
  justify-content: center;
  padding-left: 10px;
}
.artist-explain {
  margin: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.artist {
  display: block;
  justify-self: center;
  margin: 20px;
}
.artist-card {
  margin-bottom: 0px;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.artist-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 70%;
  opacity: 0;
  transition: transform 150ms ease-in cubic-bezier(0.015, 0.1, 0.05, 1);
  margin-top: 40%;
}
.artist-overlay-explain {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 1.4rem;
  color: aliceblue;
  line-height: 1.5;
}
.artist .artist-card:hover .artist-overlay {
  transform: translateY(0);
  opacity: 1;
  transition: width 0.3s ease-in;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .container {
    width: 100%;
  }
  html {
    font-size: 8px;
  }
  .header {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-family: Parkinsans, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .container {
    min-width: 768px;
    margin: 0 auto;
  }
  .logo {
    width: 250px;
  }
  .navbar-fluid {
  }

  .overlay ul {
    width: 65%;
    height: 75%;
    display: none;
    border: 2px rgb(42, 44, 45) solid;
  }

  .navbar {
    display: flex;
    gap: 50px;
    padding-top: 10px;
  }

  button {
    font-size: 40px;
    font-weight: 400px;

    padding-top: 50px;
  }

  .menu-svg {
    width: 100px;
  }

  .navbar-close-menu {
  }

  .close-icon .close {
    width: 50px;
  }

  .navbar-close-menu a {
    margin-top: 40px;
  }
  .navbar-close-menu .a:hover {
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .navbar-list:hover {
    font-size: 50px;
  }
  .nav-list:hover {
    font-size: 1.2em;
  }
  .first-div {
    text-align: justify;
  }
  .first-h1 {
    text-align: start;
    padding-left: 10px;
    font-size: 50px;
  }
  .page-explain {
    font-size: 25px;
  }

  .images {
    width: 700px;
    height: auto;
  }

  .card-overlay-text {
    text-decoration: none;
    color: azure;
  }

  .card-text {
    height: 56px;
    margin: 10px;
    font-size: 30px;
    font-family: Parkinsans, sans-serif;
    font-weight: 200;
  }

  .images:hover {
    transition: 5ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  footer {
    margin-top: 30px;
    position: relative;
    background-color: #fff;
    gap: 10px;
    display: block;
    text-align: center;
    padding-left: 20px;
  }
  .footer-text {
    margin: 10px;

    font-size: 30px;
  }
  .footer-navbar {
    font-size: 30px;
  }
  .footer-navbar a {
    text-decoration: none;
  }
  .contacts {
    font-size: 30px;
  }

  .footer-contact a {
    color: black;
    text-decoration: none;
    gap: 20px;
  }
  .footer-navbar a:hover {
    color: rgb(129, 122, 122);
    cursor: pointer;
  }

  .footer-contact a:hover {
    color: rgb(129, 122, 122);
    cursor: pointer;
  }
  .footer-socials {
    display: flex;
    margin: 50px;
    gap: 15px;
    list-style-type: none;
  }
  .footer .contacts {
    list-style-type: none;
    margin-top: 5px;
  }

  .footer .contact .contacts {
    text-decoration: none;
  }

  .social-list {
    position: absolute;
    top: 150px;
    right: 50px;
  }

  .first-container {
    text-align: start;
    margin: 30px;
  }

  .row {
    margin: 30px;
  }

  .images:hover {
    color: transparent;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .first-container-artists {
    display: block;
    justify-content: center;
    padding-left: 10px;
  }
  .artist-explain {
    margin: 20px;
    font-size: 16px;
    line-height: 1.5;
  }

  .artist {
    display: block;
    justify-self: center;
    margin: 20px;
  }
  .artist-card {
    margin-bottom: 0px;
    z-index: 0;
    position: relative;
    overflow: hidden;
  }

  .artist-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 70%;
    opacity: 0;
    transition: transform 150ms ease-in cubic-bezier(0.015, 0.1, 0.05, 1);
    margin-top: 40%;
  }
  .artist-overlay-explain {
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
    font-size: 14px;
    color: aliceblue;
    line-height: 1.5;
  }
  .artist .artist-card:hover .artist-overlay {
    transform: translateY(0);
    opacity: 1;
    transition: width 0.3s ease-in;
    text-align: center;
  }
}
